<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mitobo_cinema?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="entitats/Sala.hbm.xml"/>
    <mapping resource="entitats/Butaca.hbm.xml"/>
    <mapping resource="entitats/Tarifa.hbm.xml"/>
    <mapping resource="entitats/Pase.hbm.xml"/>
    <mapping resource="entitats/Entrada.hbm.xml"/>
    <mapping resource="entitats/TipusSala.hbm.xml"/>
    <mapping resource="entitats/Pelicula.hbm.xml"/>
    <mapping resource="entitats/Genere.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
